.cont {
  margin-left: 1rem;
}

.card {
  width: auto;
  background-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
}
.image {
  border-radius: 50%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.title {
  margin-left: auto;
}
.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.parent {
  padding: 1rem;
}
.loader {
  margin: auto;
}
.search {
  margin: auto;
}
.me-2:focus {
  box-shadow: none;
  border-color: #eeeeee;
}
.search {
  margin-bottom: 1rem;
  margin-left: 0.3rem;
  opacity: 60%;
}
.navbar-brand{
  margin-right: 0;
}
.about{
  margin: 3rem;
}